body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-xxl {
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
#app {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1360px;
    }
  }

  .content {
    padding: 0;

    .contacts {
      display: grid;
      gap: 100px;
      padding: 114px 40px 100px 40px;
      text-align: left;
      max-width: 1360px;

      @media (max-width: 1180px) {
        padding: 114px 8px 100px 8px;
        gap: 10px;
      }

      .form {
        display: grid;
        justify-items: center;
        border: 8px solid rgba(20, 114, 208, 1);
        border-radius: 40px;
        padding: 150px 0px;
        margin-bottom: 60px;

        @media (max-width: 800px) {
          padding: 40px 10px;
          border: 4px solid rgba(20, 114, 208, 1);
          border-radius: 20px;
        }

        .center {
          display: grid;
          gap: 60px;

          h4 {
            font-size: 14px;
            font-weight: 700;

            @media (max-width: 800px) {
              font-size: 12px;
            }
          }

          .block {
            display: grid;
            gap: 10px;

            .cardBlock {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 20px;

              h5 {
                font-size: 12px;
                font-weight: 700;

                @media (max-width: 800px) {
                  font-size: 10px;
                }
              }

              .card {
                display: grid;
                gap: 20px;
                border: 0;

                img {
                  width: 99%;
                  border-radius: 10px;
                  cursor: pointer;
                }
                img.current {
                  border: 4px solid rgba(20, 114, 208, 1);
                }
              }
            }
          }

          #block3 {
            justify-items: start;


            .text {
              display: flex;
              align-items: center;
              gap: 0;

              @media (max-width: 800px) {
                gap: -20px;
              }

              h5 {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                top: 6px;

                @media (max-width: 800px) {
                  font-size: 12px;
                  position: relative;
                  right: 10px;
                }
              }

              input {
                width: 30px;
                height: 30px;
                border: 1px solid;
                border-radius: 4px;
                background-color: white;
                //border-radius: 50%;
                border: 1px solid rgba(20, 114, 208, 1);
                vertical-align: middle;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
                display: none;

                @media (max-width: 800px) {
                  width: 20px;
                  height: 20px;
                }
              }
              input:checked {
                appearance: auto;
                //clip-path: circle(50% at 50% 50%);
                background-color: rgba(20, 114, 208, 1);
              }

              /* прячем input checkbox */
              input[type="checkbox"] {
                display: none;
              }

              /* стили для метки */
              label {
                color: #000;
                cursor: default;
                font-weight: normal;
                line-height: 30px;
                padding: 10px 0;
                vertical-align: middle;
              }

              /* формируем внешний вид чекбокса в псевдоэлементе before */
              label:before {
                content: " ";
                color: #000;
                display: inline-block;
                font: 20px/30px Arial;
                margin-right: 15px;
                position: relative;
                text-align: center;
                text-indent: 0px;
                width: 30px;
                height: 30px;
                background: #FFF;
                border: 1px solid rgba(20, 114, 208, 1);
                border-image: initial;
                vertical-align: middle;
                border-radius: 4px;
                cursor: pointer;

                @media (max-width: 800px) {
                  scale: 0.7;
                }
              }

              /* вариации внешнего вида в зав-ти от статуса checkbox */
              /* checked */
              input:checked + label:before {
                color: white;
                background-color: rgba(20, 114, 208, 1);
                content: "✓";
                border-radius: 4px;
              }
              /* disabled */
              input:disabled + label:before {
                background: #eee;
                color: #aaa;
              }
            }
          }

          #block8 {
            justify-items: start;


            input[type="file"] {
              display: none;
            }

            .custom-file-upload {
              border: 1px solid #ccc;
              cursor: pointer;
              background-color: rgba(20, 114, 208, 1);
              color: white;
              font-weight: 700;
              height: 50px;
              display: flex;
              align-items: center;
              width: 99%;
              border-radius: 8px;
              padding: 34px 20px;

              @media (max-width: 800px) {
                padding: 14px 10px;
              }
            }
          }

          #block9 {
            //justify-items: start;

            input {
              padding: 25px 20px;
              border-radius: 10px;
              border: 1px solid black;

              @media (max-width: 800px) {
                padding: 12px 10px;
                font-size: 12px;
              }
            }
            input:focus {
              outline-color: rgba(20, 114, 208, 1);
              color: rgba(20, 114, 208, 1);
              border: 1px solid rgba(20, 114, 208, 1);
            }
          }

          #block10 {
            justify-items: start;

            button {
              padding: 25px 20px;
              border-radius: 10px;
              //border: 1px solid black;
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            p {
              font-size: 10px;
              max-width: 400px;

              span {
                color: rgba(20, 114, 208, 1);
              }
            }
          }

          #block4, #block7 {
            justify-items: start;


            .text {
              display: flex;
              align-items: center;
              gap: 0;

              @media (max-width: 800px) {
                gap: -20px;
              }

              h5 {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                top: 6px;

                @media (max-width: 800px) {
                  font-size: 12px;
                  position: relative;
                  right: 10px;
                }
              }

              input {
                width: 30px;
                height: 30px;
                border: 1px solid;
                border-radius: 50%;
                background-color: white;
                //border-radius: 50%;
                border: 1px solid rgba(20, 114, 208, 1);
                vertical-align: middle;
                appearance: none;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
                display: none;

                @media (max-width: 800px) {
                  width: 20px;
                  height: 20px;
                }
              }
              input:checked {
                appearance: auto;
                clip-path: circle(50% at 50% 50%);
                background-color: rgba(20, 114, 208, 1);
              }

              /* прячем input checkbox */
              input[type="checkbox"] {
                display: none;
              }

              /* стили для метки */
              label {
                color: #000;
                cursor: default;
                font-weight: normal;
                line-height: 30px;
                padding: 10px 0;
                vertical-align: middle;
              }

              /* формируем внешний вид чекбокса в псевдоэлементе before */
              label:before {
                content: " ";
                color: #000;
                display: inline-block;
                font: 20px/30px Arial;
                margin-right: 15px;
                position: relative;
                text-align: center;
                text-indent: 0px;
                width: 30px;
                height: 30px;
                background: #FFF;
                border: 1px solid rgba(20, 114, 208, 1);
                border-image: initial;
                vertical-align: middle;
                border-radius: 50%;
                cursor: pointer;

                @media (max-width: 800px) {
                  scale: 0.7;
                }
              }

              /* вариации внешнего вида в зав-ти от статуса checkbox */
              /* checked */
              input:checked + label:before {
                color: white;
                background-color: rgba(20, 114, 208, 1);
                content: "✓";
                border-radius: 50%;
              }
              /* disabled */
              input:disabled + label:before {
                background: #eee;
                color: #aaa;
              }
            }
          }

          #block5, #block6 {
            //justify-items: start;

            input[type=range]::-webkit-slider-runnable-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              background: rgba(20, 114, 208, 1);
            }
            input[type=range]::-webkit-slider-thumb {
              //-webkit-appearance: none;
              //position: relative;
              //background-color: rgba(20, 114, 208, 1);
              //bottom: 9px;
              //height: 30px;
              //width: 30px;
              //color: #FFFFFF;
              -moz-appearance: none !important;
              appearance: none !important;
              position: relative;
              height: 20px;
              width: 100px;
              background: transparent;
              cursor: pointer;
              z-index: 2;
              border: none;
              box-shadow: none;
            }

            .range-text {
              position: relative;
              left: 0;
              bottom: 38px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(20, 114, 208, 1);
              text-align: center;
              color: white;
              line-height: 1;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              transform: translate(0, 2px);
              cursor: pointer;
            }

            .bottom {
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
              flex-wrap: nowrap;
              flex-direction: row;
              bottom: 30px;

              p {
                color: black;
                font-size: 14px;
                padding: 0 10px;
                font-weight: 700;

                @media (max-width: 800px) {
                  font-size: 12px;
                }
              }
            }

          }
        }

        .header {
          display: grid;
          justify-items: center;
          text-align: center;
          gap: 40px;
          margin-bottom: 60px;

          p {
            max-width: 570px;
          }

          @media (max-width: 800px) {
            gap: 0;

            p {
              font-size: 12px;
            }
            margin-bottom: 20px;
          }
        }
      }

      .header {
        h1 {
          font-weight: 700;
          color: rgba(47, 47, 47, 1);
          font-size: 44px;
          margin-top: 60px;
          margin-bottom: 0;

          span {
            color: rgba(20, 114, 208, 1);
          }

          @media (max-width: 800px) {
            font-size: 22px;
            margin-bottom: 20px;
            margin-top: 12px;
          }
        }

        h3 {
          font-size: 12px;
          color: rgba(162, 160, 160, 1);
          font-weight: 200;

          @media (max-width: 800px) {
            font-size: 10px;
          }

          span {
            color: rgba(47, 47, 47, 1);

          }
        }
      }

      .bottom {
        max-height: 557px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        @media (max-width: 1270px) {
          flex-direction: column;
          justify-content: space-between;
          max-height: 740px;
        }

        .left {
          height: 537px;
          background-color: rgba(20, 114, 208, 1);
          border-radius: 40px 0px 0px 40px;
          padding: 50px 60px 0 60px;
          display: flex;
          flex-direction: column;
          gap: 40px;
          background-image: url("./../assets/slide/bgsl1.png");
          background-repeat: repeat-x;
          background-position: bottom;

          .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
          }

          @media (max-width: 1270px) {
            border-radius: 20px 20px 0 0;
            max-width: 767px;
            padding: 20px 20px 0 20px;
          }

          h3 {
            font-size: 28px;
            max-height: 50px;
            @media (max-width: 1080px) {
              font-size: 18px;
            }
          }
          p {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            padding: 0;
            margin: 0;
            @media (max-width: 1080px) {
              font-size: 12px;
              bottom: 0;
            }
          }

          .slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 30px;

            @media (max-width: 1000px) {
              padding-bottom: 0;
            }

            .lf {

              p {
                color: rgba(180, 205, 237, 1);
                font-weight: 600;
                font-size: 24px;
                bottom: 0;

                span {
                  font-size: 56px;
                  font-weight: 700;
                  color: white;
                }

                @media (max-width: 1080px) {
                  font-size: 14px;
                  bottom: 0;

                  span {
                    font-size: 28px;
                  }
                }
              }
            }

            .rt {
              position: relative;
              bottom: 20px;
              display: flex;
              gap: 20px;

              @media (min-width: 1080px) {
                scale: 1.2;
              }

              svg:hover {
                scale: 1.1;
                cursor: pointer;
              }
            }
          }
        }
        .right {
          max-width: 767px;
          //background-image: url("./../assets/slide/sl01.jpg");

          img {
            @media (max-width: 1270px) {
              width: 100%;
              border-radius: 0 0 20px 20px;
            }
          }
        }
      }

    }

    //--------------------------

    .appbar {
      position: fixed;
      left: 0;
      right: 0;
      display: flex;
      z-index: 120;
      background-color: rgba(255, 255, 255, 0);
      transition: 1.5s;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

      .mobileMenu {
        position: fixed;
        top: 50px;
        flex: 1;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        transition: 1.5s;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        height: 100vh;
        width: 100vw;
        background-image: url("./../assets/mobile/bgac.png");
        background-position: bottom;
        background-repeat: no-repeat;
        padding: 12px 10px 0 10px;

        .bottom {
          display: grid;
          justify-items: start;
          text-align: left;
          gap: 20px;
          padding-top: 20px;

          .info {
            h4 {
              color: rgba(20, 114, 208, 1);
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 0;
              margin: 0;
              margin-bottom: 4px;
            }
            p {
              font-size: 12px;
              padding: 0;
              margin: 0;
            }
          }
        }

        .other {
          padding: 20px 0;
          display: flex;
          justify-content: space-between;

          button {
            a:active,
            a:hover,
            a {
              text-decoration: none;
              color: white;
            }

            a:active {
              color: white;
            }

            a:hover {
              cursor: pointer;
              color: white;
            }
          }
        }

        .top {
          display: grid;
          justify-items: start;

          .slide {
            width: 99%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 8px;

            h3 {
              font-size: 14px;
              text-transform: uppercase;
              font-weight: 700;
            }
          }
          a:active,
          a:hover,
          a {
            text-decoration: none;
            color: black;
          }

          a:active {
            color: rgba(20, 114, 208, 1);
          }

          a:hover {
            cursor: pointer;
            color: rgba(20, 114, 208, 1);
          }
        }
      }

      .navbar-custom {
        display: flex;
        align-items: center;
        padding: 10px 50px;
        justify-content: space-between;

        @media (max-width: 900px) {
          padding: 10px 13px;
        }

        ul {
          list-style: none;
          display: flex;
          gap: 15px;
          align-items: center;
          padding: 0;
          margin: 0;


          li {
            font-size: 14px;
            font-weight: 500;

            a:active,
            a:hover,
            a {
              text-decoration: none;
              color: black;
            }

            a:active {
              color: rgba(20, 114, 208, 1);
            }

            a:hover {
              cursor: pointer;
              color: rgba(20, 114, 208, 1);
            }
          }

          @media (max-width: 1000px) {
            display: none;
          }
        }

        .contact {
          display: flex;
          align-items: center;
          gap: 14px;
          font-weight: 600;
          font-size: 14px;

          @media (max-width: 1330px) {
            button {
              display: none;

            }
          }

          button {
            a:active,
            a:hover,
            a {
              text-decoration: none;
              color: white;
            }

            a:active {
              color: white;
            }

            a:hover {
              cursor: pointer;
              color: white;
            }
          }

          .mobile {
            display: none;

            @media (max-width: 1000px) {
              display: flex;
              flex-direction: column;
              gap: 5px;

              div {
                width: 30px;
                height: 4px;
                border: 1px solid black;
                border-radius: 3px;
                background: #000;

              }
            }
          }
        }
      }
    }

  //  -----------------
    .footbar-fluid {
      background-color: rgba(20, 114, 208, 1);
      min-height: 535px;
      background-image: url("./../assets/svg/footer.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;

      .footbar {

        .divider {
          height: 1px;
          background-color: rgba(255, 255, 255, 0.28);
        }

        .top {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          padding: 60px 40px;

          svg:first-child {
            display: none;
          }

          @media (max-width: 900px){
            grid-template-columns: none;
            grid-template-rows: repeat(4, 1fr);
            gap: 40px;
            padding: 60px 0;

            svg:last-child {
              display: none;
            }
            svg:first-child {
              display: block;
            }
          }

          .card {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            text-align: left;
            color: #FFFFFF;

            p {
              margin: 0;
              padding: 0;
              cursor: pointer;
            }
          }
        }

        .bottom {
          padding: 60px 40px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          @media (max-width: 1199px) and (min-width: 901px){
            grid-template-columns: repeat(3, 1fr);
          }
          @media (max-width: 900px){
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            padding: 60px 0;
          }

          .slide {
            display: none;
            @media (max-width: 900px){
              display: flex;
            }
            justify-content: space-between;
            border-bottom: 1px solid white;

            h3 {
              font-size: 16px;
              color: white;
              font-weight: 600;
            }
          }

          .card {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            text-align: left;
            color: #FFFFFF;
            max-width: 247px;
            display: grid;
            gap: 14px;

            @media (max-width: 900px){
              display: none;
            }

            p {
              margin: 0;
              padding: 0;
              cursor: pointer;
            }
          }
        }
      }
    }

  //  --------------------------------------
  }

  .main {
    padding: 0;
  }
}