body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-xxl {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
@media (min-width: 1400px) {
  #app .container-xxl, #app .container-xl, #app .container-lg, #app .container-md, #app .container-sm, #app .container {
    max-width: 1440px;
  }
}
#app .main {
  padding: 0;
}
#app .content {
  padding: 0;
}
#app .content .homeView {
  display: grid;
}
#app .content .homeView .news {
  display: grid;
  gap: 30px;
  text-align: left;
  padding: 90px 30px;
}
@media (max-width: 1000px) {
  #app .content .homeView .news {
    padding: 55px 10px 75px 10px;
  }
}
#app .content .homeView .news .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1000px) and (min-width: 600px) {
  #app .content .homeView .news .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #app .content .homeView .news .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
#app .content .homeView .news .bottom .card {
  display: grid;
  gap: 14px;
  border: none;
}
#app .content .homeView .news .bottom .card img {
  width: 100%;
}
#app .content .homeView .news .bottom .card h4 {
  font-size: 12px;
  color: rgb(162, 160, 160);
  margin: 0;
  padding: 0;
}
#app .content .homeView .news .bottom .card p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}
#app .content .homeView .news .top {
  display: grid;
  gap: 30px;
}
#app .content .homeView .news .top h2 {
  font-size: 44px;
  font-weight: 700;
  max-width: 780px;
}
#app .content .homeView .news .top h2 span {
  color: rgb(20, 114, 208);
}
@media (max-width: 1000px) {
  #app .content .homeView .news .top h2 {
    font-size: 28px;
  }
}
#app .content .homeView .feedback {
  display: grid;
  gap: 30px;
  text-align: left;
  padding: 90px 30px;
  background-image: url("./../../assets/slide/feedbg.png");
  background-repeat: no-repeat;
  background-position: top right;
}
@media (max-width: 1000px) {
  #app .content .homeView .feedback {
    padding: 55px 10px 75px 10px;
  }
}
#app .content .homeView .feedback .bottom .left {
  height: 652px;
  background-color: rgb(236, 241, 247);
  border: 1px solid rgb(236, 241, 247);
  border-radius: 40px;
  padding: 40px;
}
#app .content .homeView .feedback .bottom .left .feed h3 {
  font-size: 20px;
  font-weight: 700;
}
#app .content .homeView .feedback .bottom .left .feed p {
  font-size: 14px;
  font-weight: 400;
}
#app .content .homeView .feedback .top {
  display: grid;
  gap: 30px;
}
#app .content .homeView .feedback .top h2 {
  font-size: 44px;
  font-weight: 700;
  max-width: 780px;
}
#app .content .homeView .feedback .top h2 span {
  color: rgb(20, 114, 208);
}
@media (max-width: 1000px) {
  #app .content .homeView .feedback .top h2 {
    font-size: 28px;
  }
}
#app .content .homeView .sliderTop {
  display: grid;
  gap: 30px;
  text-align: left;
  padding: 90px 30px;
}
@media (max-width: 1000px) {
  #app .content .homeView .sliderTop {
    padding: 55px 10px 75px 10px;
  }
}
#app .content .homeView .sliderTop .top {
  display: grid;
  gap: 30px;
}
#app .content .homeView .sliderTop .top h2 {
  font-size: 44px;
  font-weight: 700;
  max-width: 780px;
}
#app .content .homeView .sliderTop .top h2 span {
  color: rgb(20, 114, 208);
}
@media (max-width: 1000px) {
  #app .content .homeView .sliderTop .top h2 {
    font-size: 28px;
  }
}
#app .content .homeView .sliderTop .top p {
  max-width: 840px;
}
@media (max-width: 1000px) {
  #app .content .homeView .sliderTop .top p {
    font-size: 12px;
  }
}
#app .content .homeView .sliderTop .bottom {
  max-height: 557px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
@media (max-width: 1270px) {
  #app .content .homeView .sliderTop .bottom {
    flex-direction: column;
    justify-content: space-between;
  }
}
#app .content .homeView .sliderTop .bottom .left {
  height: 537px;
  background-color: rgb(20, 114, 208);
  border-radius: 40px 0px 0px 40px;
  padding: 60px 40px 0 40px;
  display: grid;
  align-content: space-between;
}
@media (max-width: 1270px) {
  #app .content .homeView .sliderTop .bottom .left {
    border-radius: 40px 40px 0 0;
    max-width: 767px;
  }
}
#app .content .homeView .sliderTop .bottom .left h3 {
  font-size: 28px;
}
@media (max-width: 1080px) {
  #app .content .homeView .sliderTop .bottom .left h3 {
    font-size: 18px;
  }
}
#app .content .homeView .sliderTop .bottom .left p {
  font-size: 14px;
}
@media (max-width: 1080px) {
  #app .content .homeView .sliderTop .bottom .left p {
    font-size: 12px;
  }
}
#app .content .homeView .sliderTop .bottom .left .slide {
  background-image: url("./../../assets/slide/bgsl1.png");
  background-repeat: repeat-x;
  padding-bottom: 20px;
}
#app .content .homeView .sliderTop .bottom .right {
  max-width: 767px;
}
@media (max-width: 1270px) {
  #app .content .homeView .sliderTop .bottom .right img {
    width: 100%;
    border-radius: 0 0 40px 40px;
  }
}
#app .content .homeView .topBlock {
  text-align: left;
  background-image: url("./../../assets/slide/bgtop.png");
  background-position: top right;
  background-repeat: no-repeat;
  padding: 150px 30px;
  display: grid;
  gap: 30px;
}
@media (max-width: 1000px) {
  #app .content .homeView .topBlock {
    padding: 55px 10px 75px 10px;
  }
}
#app .content .homeView .topBlock .cardBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#app .content .homeView .topBlock .cardBlock .card {
  padding: 20px 50px;
  display: grid;
  gap: 40px;
  background-color: rgb(236, 241, 247);
  border: 1px solid rgb(236, 241, 247);
  border-radius: 30px;
}
@media (max-width: 1400px) and (min-width: 1000px) {
  #app .content .homeView .topBlock .cardBlock .card:last-child {
    display: none;
  }
}
@media (max-width: 1000px) {
  #app .content .homeView .topBlock .cardBlock .card {
    padding: 10px 10px;
  }
  #app .content .homeView .topBlock .cardBlock .card:last-child {
    display: none;
  }
  #app .content .homeView .topBlock .cardBlock .card:first-child {
    display: none;
  }
}
#app .content .homeView .topBlock .cardBlock .card h3 {
  font-size: 18px;
  font-weight: 600;
}
#app .content .homeView .topBlock .cardBlock .card .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app .content .homeView .topBlock .cardBlock .card .bottom p:first-child {
  font-size: 28px;
  font-weight: 600;
  color: rgb(20, 114, 208);
}
#app .content .homeView .topBlock .top {
  display: grid;
  gap: 24px;
}
#app .content .homeView .topBlock .top h2 {
  font-size: 44px;
  font-weight: 700;
  max-width: 720px;
}
#app .content .homeView .topBlock .top h2 span {
  color: rgb(20, 114, 208);
}
@media (max-width: 1000px) {
  #app .content .homeView .topBlock .top h2 {
    font-size: 28px;
  }
}
#app .content .homeView .topBlock .top .bottom {
  display: flex;
  justify-content: space-between;
}
#app .content .homeView .topBlock .top .bottom p {
  max-width: 840px;
}
@media (max-width: 1000px) {
  #app .content .homeView .topBlock .top .bottom p {
    font-size: 12px;
  }
}
#app .content .homeView .topBlock .top .bottom .button {
  display: flex;
  align-items: center;
  gap: 20px;
}
#app .content .homeView .topBlock .top .bottom .button img {
  cursor: pointer;
}
@media (max-width: 1111px) {
  #app .content .homeView .topBlock .top .bottom .button {
    display: none;
  }
}
#app .content .homeView .topBlock .bottom-mobile {
  display: none;
}
@media (max-width: 1000px) {
  #app .content .homeView .topBlock .bottom-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
}
#app .content .homeView .content {
  background-image: url("./../../assets/slide/main.jpg");
  height: 830px;
}
#app .content .homeView .content .left {
  text-align: left;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 680px;
  gap: 40px;
}
@media (max-width: 900px) {
  #app .content .homeView .content .left {
    padding: 30px 13px;
    padding-top: 190px;
  }
}
@media (max-width: 900px) {
  #app .content .homeView .content .left {
    justify-content: space-between;
  }
}
#app .content .homeView .content .left h1 {
  font-size: 44px;
  font-weight: 700;
}
#app .content .homeView .content .left h1 span {
  color: rgb(20, 114, 208);
}
#app .content .homeView .content .left h1 p {
  display: none;
}
@media (max-width: 600px) {
  #app .content .homeView .content .left h1 {
    font-size: 28px;
  }
  #app .content .homeView .content .left h1 p {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
  }
}
#app .content .homeView .content .left h3 {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 600px) {
  #app .content .homeView .content .left h3 {
    font-size: 12px;
    display: none;
  }
}
#app .content .homeView .content .left .button {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 900px) {
  #app .content .homeView .content .left .button {
    height: 20%;
  }
}
#app .content .appbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
}
#app .content .appbar .navbar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
@media (max-width: 900px) {
  #app .content .appbar .navbar-custom {
    padding: 20px 13px;
  }
}
#app .content .appbar .navbar-custom ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0;
  margin: 0;
}
#app .content .appbar .navbar-custom ul li {
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  #app .content .appbar .navbar-custom ul {
    display: none;
  }
}
#app .content .appbar .navbar-custom .contacts {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 1330px) {
  #app .content .appbar .navbar-custom .contacts button {
    display: none;
  }
}
#app .content .appbar .navbar-custom .contacts .mobile {
  display: none;
}
@media (max-width: 1000px) {
  #app .content .appbar .navbar-custom .contacts .mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #app .content .appbar .navbar-custom .contacts .mobile div {
    width: 30px;
    height: 4px;
    border: 1px solid black;
    border-radius: 3px;
    background: #000;
  }
}

/*# sourceMappingURL=index.css.map */
